.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;

  text-align: center;

  background-image: linear-gradient(
      var(--gradient-color),
      var(--gradient-color)
    ),
    url("../images/hero/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 480px 400px;
  //   background-size: cover;
}

.hero__title {
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-size: 26px;
  font-weight: 900;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  @include button;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        var(--gradient-color),
        var(--gradient-color)
      ),
      url("../images/hero/hero-mobile@2x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 3),
  screen and (min-resolution: 288dpi),
  screen and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(
        var(--gradient-color),
        var(--gradient-color)
      ),
      url("../images/hero/hero-mobile@3x.jpg");
  }
}

// .hero {
//   max-width: 1600px;
//   height: 600px;

//   text-align: center;

//   background-color: var(--bcg-hero);
//   background-image: linear-gradient(
//       var(--gradient-color),
//       var(--gradient-color)
//     ),
//     url("../images/studio/banner.jpg");
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
// }

// .hero__title {
//   color: var(--primary-white-color);
//   margin-bottom: 30px;
//   font-weight: 900;
//   font-size: 44px;
//   line-height: 1.36;
//   text-align: center;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
// }

// .hero__button {
//   @include button;
//   padding: 10px 32px;

//   &:hover,
//   &:focus {
//     background-color: #0e86e8;
//   }
// }
