.menu-container {
  background-color: var(--primary-white-color);

  &.is-open {
    display: block;
  }

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    padding-top: 60px;
    padding-bottom: 60px;
    top: 101%;
    left: 0;
    width: 100%;
    z-index: 999999;
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.menu-button {
  display: inline-flex;
  padding: 0;
  border: 0;
  background-color: transparent;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &__icon {
    fill: currentColor;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.icon-menu {
  display: block;
}

.icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}
