.section-title {
  margin-bottom: 30px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.171;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.16;
  }
}
