:root {
  --primary-white-color: #ffffff;
  --second-bg-color: #f5f4fa;
  --third-bg-color: #2f303a;
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --text-color-placeholder: rgba(117, 117, 117, 0.5);
  --accent-color: #2196f3;
  --black-color: #000000;
  --bcg-hero: #c4c4c4;
  --clients-logo: #afb1b8;
  --works-list-border: #eeeeee;

  --timing: cubic-bezier(0.4, 0, 0.2, 1);
}
